.editItemContainer {
  margin-left: 20%;
}
.editItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  background-color: rgb(240, 230, 230);
  padding: 3rem;
}
.editItemContainer input {
  width: 70rem;
  padding: 2rem;
  margin-bottom: 3rem;
}
.editItemContainer label {
  font-weight: 550;
}
.editItemContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.editItemContainer button {
  width: 10rem;
  padding: 1rem;
}
