.schedule_a_visit{
    display: flex;
    flex-direction:column ;
    align-items: center;
    gap:3rem;
    justify-content: center;
    padding: 3rem;
    background-color: rgb(240, 230, 230);
}
.schedule_a_visit input{
width:70rem;
padding:2rem;
margin-bottom: 3rem;
}
.schedule_a_visit label{
    font-weight: 550;
}
.schedule_a_visit form{   
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.schedule_a_visit button{
    width:10rem;
   padding:1rem;
}