
.editProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  gap: 3rem;
  justify-content: center;
  background-color: rgb(240, 230, 230);
  padding: 3rem;
}
.EditProfile{
  display: flex;
  flex-direction: column;
}
.editProfileContainer input {
  width: 70%;
  padding: 1rem;
  margin-bottom: 3rem;
}
.editProfileContainer label {
  font-weight: 550;
}
.editProfileContainer form {
width: 50%;
display: flex;
flex-direction: column;
padding: 1rem;
background-color: rgb(201, 189, 201);
}

.editProfileContainer button {
  display: flex;
  justify-content: center;
  width: 30%;
  color: #fff;
  background-color: #000;
  font-weight: 500;
  padding: 1rem;
}
