.navlink{
    display:flex;
    flex-direction: row;
    gap:3rem;
    }
    .navlink a{
color:purple;
font-size:25px;
    }
    .navlink a:hover{
        color:rgb(243, 58, 228);
        transition: .9s ease-in-out;
        text-decoration: underline;        
    }