.AddProductForm{
    display: flex;
    flex-direction:column ;
    align-items: center;
    gap:3rem;
    justify-content: center;
    
}
.AddProductForm input{
width:70rem;
padding:2rem;
margin-bottom: 3rem;
}
.AddProductForm label{
    font-weight: 550;
}
.AddProductForm form{   
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.AddProductForm button{
    width:10rem;
   padding:1rem;
}